$primary:       #555254;
$secondary:     #AEA392;
$success:       #007E33;
$info:          #95B6C2;
$warning:       #FF8800;
$danger:        #CC0000;
$light:         rgb(216, 223, 231);


@import "../node_modules/bootstrap/scss/bootstrap";